#block-views-uw-publications-block-2,
#block-views-7b25f6c74092e59ef43f1fdcd8aaedb9 {
  margin-top: 20px;
}

#content #block-views-uw-publications-block-2 .view-uw-publications .view-content,
#content #block-views-7b25f6c74092e59ef43f1fdcd8aaedb9 .view-uw-publications .view-content {
  padding-top: 0;
}
